<!DOCTYPE html>
<html>
<head>
    <title>Edge Detection Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Blendy</h1>
    <h1>Edge Detection Results</h1>
    <h2>Canny Edge Detection</h2>
    <img src="{{ url_for('static', filename=canny_image) }}">
    <h2>Difference of Gaussians (DoG) Edge Detection</h2>
    <form action="{{ url_for('edge_dog') }}" method="post">
        <input type="range" min="1" max="50" value="{{ kernel_size }}" class="slider" id="dogKernelSize" name="dogKernelSize">
        <input type="submit" value="Apply">
    </form>
    <img src="{{ url_for('static', filename=dog_image) }}"> <br> <br>
    <a href="{{ url_for('human_seg') }}" class="btn">Go to Human Segmentation</a>
</body>
</html>