<!DOCTYPE html>
<html>
<head>
    <title>Blendy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Blendy</h1>
    <p>Select a group of images from your computer to stitch:</p>
    <form action="{{ url_for('upload_images') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="images" multiple accept="image/*">
        <input type="submit" value="Upload">
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>